body {
  background-color: gray;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  text-align: center;
}

#name, #age {
  border-radius: .5rem;
}

input[type="text"], input[type="number"] {
  height: 1.2rem;
}

#submit {
  background-color: cornsilk;
  font-weight: bold;
  font-size: x-large;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#submit:hover {
  background-color: aquamarine;
}
