# Carpeta bin y obj generada por Visual Studio en todos los proyectos
**/bin/
**/obj/

# Carpetas de configuración .vs generadas por Visual Studio en todos los proyectos
**/.vscode/
**/.vs/

# Archivos de usuario y configuración en todos los proyectos
**/*.suo
**/*.user
**/*.sln.docstates

# Carpeta de caché de Resharper en todos los proyectos
**/_ReSharper/

# Carpeta de caché de Visual Studio en todos los proyectos
**/ipch/
**/*.sdf

# Archivos de respaldo y carpetas temporales generados por Windows en todos los proyectos
**/*Thumbs.db
**/*Desktop.ini
**/*.log
**/*.logs
**/*.bak
**/*.cache

# Archivo de configuración NuGet en todos los proyectos
**/nuget.config

# Archivos de compilación en todos los proyectos
**/*.dll
**/*.pdb
**/*.exe

# Archivos generados por MSBuild en todos los proyectos
**/msbuild.log

# Archivos generados por Rider en todos los proyectos
**/.idea/
**/.idea/

# Archivos generados por Visual Studio Code en todos los proyectos
**/.vscode/

# Carpetas y archivos específicos del entorno de desarrollo en todos los proyectos
**/packages/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates

# Carpeta generada por Windows Forms para la vista previa de impresión en todos los proyectos
**/PrintPreviewDialog/

# Carpetas generadas por Windows Forms para los archivos de recursos en todos los proyectos
**/Resources/
